<%= image_pack_tag 'hangman.png', size: '200x200', alt: "Hangman" %>
<h1>Hangman</h1>

<ul>
  <%= render @games %>
</ul>

<div class="mt-3">
  <%= button_to 'Новая игра', games_path, method: :post, class: 'btn btn-primary' %>
</div>
